<h1>Create Collaborator</h1>

<%= simple_form_for [@task, @membership] do |f| %>
  <%= f.association :user, collection: @collaborators, label_method: :email, value_method: :id, include_blank: false, label: 'Collaborator' %>
  <%= f.submit 'Add Collaborator' %>
<% end %>
