<div id="clearance" class="flex items-center justify-center flex-col h-full">
  <h2 class='ui header'><%= t(".title") %></h2>

  <%= form_for @user, html: { class: 'ui form w-3/12' } do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="flex justify-center">
      <%= form.submit class: 'ui primary button' %>
    </div>
  <% end %>
</div>
